<h1><%= @question.title %></h1>
<h4><%= @question.description %></h4>

<h1>Answers:</h1>
<%@answers.each do |answer|%>
  <li>
    <h4><%= answer.description %></h4>
    <p><%= answer.username %></p>
  </li>
  <br>
<%end%>


<%= form_for [@question, @answer] do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
